h1{color:rgb(101, 59, 216);text-align: center;font-size: 50px;}
body {font-family: Georgia, 'Times New Roman', Times, serif;}
p{width: 500px;}
img {height: 400 px;width: 500px;}
h2{color:rgb(194, 86, 194); font-size: 40px;}
body{margin-left: 50px;}
#imag1 {display: block; margin: auto;}
#blas{text-align: center; margin: auto;}
body {background-color:rgba(163, 163, 163, 0.623);}